$brand-teal-green: #128C7E;
$brand-teal-green-dark: #075E54;
$brand-light-green: #25D366;
$brand-blue: #34B7F1;

$interface-grey: #F0F2F5;
$interface-white: #FFFFFF;
$interface-baige: #F0EBE3;
$interface-grey-dark: #DADADA;

$typo-grey-1: #6B7C85;
$typo-grey-2: #54656F;
