$brand-teal-green: #128C7E;
$brand-teal-green-dark: #075E54;
$brand-light-green: #25D366;
$brand-blue: #34B7F1;

$interface-grey: #F0F2F5;
$interface-white: #FFFFFF;
$interface-baige: #E4DCD4;
$interface-green: #DBF8C6;
$interface-grey-dark: #DADADA;
$interface-grey-light: #F0F0F0;

$typo-grey-1: #6B7C85;
$typo-grey-2: #54656F;
$typo-black-1: #474747;
