.wa-header {
  &-container {
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $interface-grey;
    padding: 0.5rem 0.75rem;
    box-sizing: border-box;
    text-transform: capitalize;
  }
  &-left {
    gap: 1rem;
    display: flex;
  }
}
